.add_pass{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 1vw;
}

.add_pass__input{
    width: 30%;
    height: 4vw;
    border:none;
    box-shadow: 0 10px 12px -13px black;
    border-radius: 10px;
    padding-left: 10px;
    font-size: 1.5vw;
    font-weight: lighter;
}

.add_pass__button{
    width: 10%;
    height: 4vw;
    border:none;
    box-shadow: 0 10px 12px -13px black;
    background-color: aquamarine;
    border-radius: 10px;
    color: white;
    font-size: 1em;
}

.add_pass__button:hover{
    background-color: rgb(175, 255, 228);
}

.add_pass__button:active{
    background-color: rgb(65, 255, 192);
    box-shadow: none;
}